<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Edit Message</title>
</head>
<body class="colorfulBody">
    <h1>Edit Message</h1>
    <hr>

    <p>Chat is from <i><%= chat.from %></i> and recied by <i><%= chat.to %></i></p>
    
    <form method="POST" action="/chats/<%= chat._id %>?_method=PATCH" class="formChat">
        <textarea name="msg" ><%= chat.msg %></textarea>
        <button type="submit" class="sendBtn">Edit</button>
    </form>

</body>
</html>